.heroImg {
  background-image: url('/getInvolved.png');
}

.sectionTwo {
  height: 1400px;
  color: black;
}

.supportImg {
  background-image: url('/Rectangle75.png');
}

.mentoringImg {
  background-image: url('/mentoring.png');
}

.sectionThree {
  height: 1400px;
  background-image: url('/brownBackground.svg');
  padding-top: 1px;
}

.joinImg {
  background-image: url('/joinBoard.png');
}

.careersImg {
  background-image: url('/careers.png');
}

@media (max-width: 500px) {
  .sectionTwo {
    height: max-content;
  }

  .sectionThree {
    height: max-content;
  }
}
