.heroImg {
  /* background-image: url('/getInvolved.png'); */
  background-image: url('/grantsYellow.png');
  background-size: 100% auto;
  height: 700px;
}

.heroImg p {
  font-size: 82px;
  padding: 0;
}

.sectionTwo {
  height: max-content;
  color: black;
}

.support {
  flex-direction: row-reverse;
}

.mentoringImg {
  order: 1;
}

.sectionThree {
  height: max-content;
  background-image: url('/brownBackground.svg');
  background-repeat: no-repeat;
  padding-top: 1px;
  margin: 0 auto;
}

.marginOff {
  margin: 0 auto;
  padding-bottom: 20px;
}

.join {
  flex-direction: row-reverse;
}

.careersImg {
  order: 1;
}

.careersText {
  line-height: 1.5;
}

@media (max-width: 1220px) {
  .heroImg p {
    font-size: 75px;
  }
}

@media (max-width: 1024px) {
  .heroImg p {
    font-size: 72px;
    /* padding-top: 30px; */
  }
}

@media (max-width: 800px) {
  .heroImg p {
    font-size: 68px;
    /* padding-top: 0; */
  }
}

@media (max-width: 425px) {
  .heroImg {
    /* background-position: 50% 60%; */
    height: 356px;
  }

  .heroImg p {
    font-size: 45px;
    /* padding-top: 10px; */
  }

  .sectionTwo {
    height: max-content;
  }

  .support {
    flex-direction: column;
  }

  .sectionThree {
    height: max-content;
  }

  .join {
    flex-direction: column;
  }

  .mentoringImg {
    order: 3;
  }

  .careersImg {
    display: none;
  }
}
