.heroImg {
  background-image: url('/getInvolved.png');
}

.sectionTwo {
  height: 1400px;
  color: black;
}

.supportImg {
  background-image: url('/Rectangle75.png');
}

.mentoringImg {
  background-image: url('/mentoring.png');
}

.sectionThree {
  height: 1400px;
  background: #dfd8c8;
  padding-top: 1px;
}

.joinImg {
  background-image: url('/joinBoard.png');
}

.careersImg {
  background-image: url('/careers.png');
}
