.heroImg {
  background-image: url('/getInvolved.png');
  height: 750px;
}

.heroImg p {
  font-size: 55px;
}

.sectionTwo {
  height: max-content;
  color: black;
}

.supportImg {
  background-image: url('/Rectangle75.png');
}

.mentoringImg {
  background-image: url('/mentoring.png');
}

.sectionThree {
  height: max-content;
  background-image: url('/brownBackground.svg');
  background-repeat: no-repeat;
  padding-top: 1px;
  margin: 0 auto;
}

.marginOff {
  margin: 0 auto;
  padding-bottom: 20px;
}

.joinImg {
  background-image: url('/joinBoard.png');
}

.careersImg {
  background-image: url('/careers.png');
}

@media (max-width: 780px) {
  .heroImg p {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .heroImg {
    background-position: 50% 60%;
    height: 450px;
  }

  .sectionTwo {
    height: max-content;
  }

  .sectionThree {
    height: max-content;
  }

  .mentoringImg {
    order: 3;
  }

  .careersImg {
    display: none;
  }
}
