.heroImg {
  background-image: url('/grantsYellow.png');
  background-size: 100% auto;
  box-shadow: inset 0px 42px 115px 42px rgba(0, 0, 0, 1);
  height: 700px;
  position: relative;
}

.heroImg p {
  font-size: 82px;
  padding: 0;
}

.buttons {
  display: flex;
  gap: 50px;
  /* margin-top: 30px; */
  border-radius: 2px;
  position: absolute;
  bottom: 35%;
  left: 15%;
  background-color: #2b2b2bf2;
  padding: 20px;
  border-radius: 7px;
}

.sectionTwo {
  height: max-content;
  color: black;
}

.support {
  flex-direction: row-reverse;
}

.mentoringImg {
  order: 1;
}

.sectionThree {
  height: max-content;
  background-image: url('/brownBackground.svg');
  background-repeat: no-repeat;
  padding-top: 1px;
  margin: 0 auto;
}

.marginOff {
  margin: 0 auto;
  padding-bottom: 20px;
}

.join {
  flex-direction: row-reverse;
}

.careersImg {
  order: 1;
}

.careersText {
  line-height: 1.5;
}

@media (max-width: 1220px) {
  .heroImg p {
    font-size: 75px;
  }
}

@media (max-width: 1024px) {
  .heroImg p {
    font-size: 72px;
  }
}

@media (max-width: 800px) {
  .heroImg p {
    font-size: 68px;
  }
}

@media (max-width: 425px) {
  .heroImg {
    height: 356px;
  }

  .heroImg p {
    font-size: 45px;
  }

  .buttons {
    gap: 30px;
    position: initial;
    margin-top: 190px;
  }

  .sectionTwo {
    height: max-content;
  }

  .support {
    flex-direction: column;
  }

  .sectionThree {
    height: max-content;
  }

  .join {
    flex-direction: column;
  }

  .mentoringImg {
    order: 3;
  }

  .careersImg {
    display: none;
  }
}
