.heroImg {
  background-image: url('/getInvolved.png');
  height: 675px;
}

.heroImg p {
  font-size: 78px;
}

.sectionTwo {
  height: max-content;
  color: black;
}

.support {
  flex-direction: row-reverse;
}

.mentoringImg {
  order: 1;
}

.sectionThree {
  height: max-content;
  background-image: url('/brownBackground.svg');
  background-repeat: no-repeat;
  padding-top: 1px;
  margin: 0 auto;
}

.marginOff {
  margin: 0 auto;
  padding-bottom: 20px;
}

.join {
  flex-direction: row-reverse;
}

.careersImg {
  order: 1;
}

.careersText {
  line-height: 1.5;
}

@media (max-width: 1024px) {
}

@media (max-width: 800px) {
  .heroImg p {
    font-size: 65px;
    padding-top: 60px;
  }
}

@media (max-width: 425px) {
  .heroImg {
    background-position: 50% 60%;
    height: 430px;
  }
  
  .heroImg p {
    font-size: 38px;
    padding-top: 20px;
  }

  .sectionTwo {
    height: max-content;
  }

  .support {
    flex-direction: column;
  }

  .sectionThree {
    height: max-content;
  }

  .join {
    flex-direction: column;
  }

  .mentoringImg {
    order: 3;
  }

  .careersImg {
    display: none;
  }
}
