@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@300;400&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');

.learnButton {
  background: rgb(206, 57, 44);
  align-self: center;
  color: white;
}

.heroSection {
  background-image: url('/aboutHero.png');
  height: 650px;
  box-sizing: border-box;
  font-size: 55px;
}



.sectionTwo {
  height: max-content;
  background-color: white;
}

.sectionThree {
  background-image: url('/brownBackground.svg');
  height: 1500px;
}

.storyImg {
  /* width: 48%; */
  border-radius: 5px;
}

.visionImg {
}

.whoWeAreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.whoWeAreContainer h2 {
  color: black;
  margin: 15px;
  font-family: 'Roboto', sans-serif;
}

.peoplePicsContainer {
  display: flex;
  gap: 60px;
}

.personWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
}

.personWrapper p {
  margin: 0;
}

@media (max-width: 1024px) {
  .heroSection {
    font-size: 55px;
  }
}

@media (max-width: 800px) {
  .heroSection p {
    font-size: 50px;
    padding: 100px 20px;
    width: 90%;
  }

  .storyImg {
    padding-top: 20px;
    order: 2;
  }

  .sectionThree {
    height: max-content;
    padding-bottom: 20px;
  }

  .peoplePicsContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .heroSection {
    background-position: 35% 20%;
    height: 420px;
    
  }

  .heroSection p {
    font-size: 30px;
    padding: 20px 0;
  }

  .sectionTwo {
    height: max-content;
  }

  .sectionThree {
    height: max-content;
  }

  .peoplePicsContainer {
    flex-direction: column;
  }
}
