.learnButton {
  background: rgb(206, 57, 44);
  align-self: center;
  color: white;
}

.heroSection {
  background-image: url('/aboutHero.png');
  box-sizing: border-box;
}

.sectionTwo {
  height: max-content;
  background-color: white;
}

.sectionThree {
  background-image: url('/brownBackground.svg');
  height: 1500px;
}

.storyImg {
  width: 48%;
  background-image: url('/Rectangle22.png');
  background-repeat: no-repeat;
  border-radius: 5px;
}

.visionImg {
  background-image: url('/visionPic.png');
}

.whoWeAreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.whoWeAreContainer h3 {
  color: black;
  margin: 15px;
}

.peoplePicsContainer {
  display: flex;
  gap: 60px;
}

.personWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
}

.personWrapper p {
  margin: 0;
}

@media (max-width: 780px) {
  .heroSection p {
    font-size: 43px;
    padding: 100px 20px;
    width: 90%;
  }
}

@media (max-width: 500px) {
  .heroSection {
    background-position: 35% 20%;
  }

  .heroSection p {
    font-size: 28px;
    padding: 20px 0;
  }

  .sectionTwo {
    height: max-content;
  }

  .sectionThree {
    height: max-content;
  }

  .peoplePicsContainer {
    flex-direction: column;
  }
}
