.container {
}

.learnButton {
  background: rgb(206, 57, 44);
  align-self: center;
  color: white;
}

.heroSection {
  background-image: url('/aboutHero.png');
  background-size: auto;
  background-repeat: no-repeat;
  height: 770px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroSection p {
  font-size: 42px;
  font-weight: 600;
  padding: 50px;
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  margin: 0;
  width: 70%;
  line-height: 1.5;
  border-radius: 15px;
  background-color: rgba(188, 177, 154, 0.305);
}

.sectionTwo {
  height: 1400px;
  background-color: white;
}

.sectionThree {
  background-color: #dfd8c8;
  height: 1500px;
}

.storyContainer {
  height: 573px;
  width: 900px;
  margin: 100px auto;
  display: flex;
  gap: 25px;
}

.storyLeft {
  width: 48%;
  /* height: 100%; */
  background-image: url('/Rectangle22.png');
  border-radius: 5px;
}

.storyRight {
  color: black;
  width: 50%;
  height: 100%;
}

.storyRight p {
  font-size: 16px;
}

.visionContainer {
  height: 573px;
  width: 900px;
  margin: 100px auto;
  display: flex;
  gap: 25px;
}

.visionLeft {
  color: black;
  width: 50%;
  height: 100%;
}

.visionRight {
  width: 48%;
  /* height: 100%; */
  background-image: url('/visionPic.png');
  border-radius: 5px;
}

.visionContainer p {
  font-size: 16px;
}

.sectionThree {
  /* display: flex; */
}

.coreValuesContainer {
  width: 90%;
  height: max-content;
  margin: 40px auto;
  padding-top: 60px;
}

.coreValuesContainer h3 {
  text-align: center;
  color: black;
  margin: 0;
}

.valueCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: auto;
  width: 820px;
}

.whoWeAreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whoWeAreContainer h3,
h2 {
  color: black;
  margin: 15px;
}

.peoplePicsContainer {
  display: flex;
  /* flex-direction: column; */
  gap: 60px;
}

.personWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
}

.personWrapper p {
  margin: 0;
}
