.container {
  background-image: url('/public/aboutHero.png');
  /* height: 100vh; */
}

.section {
  background-image: url('/public/aboutHero.png');
  /* background-position: 100; */
  background-size: auto;
  background-repeat: no-repeat;
  height: 863px;
  border: 2px solid white;
}

.section p {
  margin: 300px auto;
  width: 70%;
  font-size: 42px;
  text-align: center;
  line-height: 1.5;
  background-color: rgba(128, 128, 128, 0.199);
  border-radius: 15px;
  font-weight: 500;
}

.sectionTwo {
  height: 1400px;
  background-color: white;
}

.sectionThree {
  background-color: #dfd8c8;
  height: 1500px;
}
