@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@300;400&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');

.learnButton {
  background: rgb(206, 57, 44);
  align-self: center;
  color: white;
  margin-top: 15px;
}

.heroSection {
  background-image: url('/aboutHero.png');
  height: 700px;
  box-sizing: border-box;
  position: relative;
  box-shadow: inset 0px 42px 115px 42px rgba(0, 0, 0, 1);
}

.intro {
  width: 50%;
  line-height: 1.4;
  text-align: left;
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: rgba(53, 50, 50, 0.841);
  padding: 40px;
  border-radius: 10px;
  box-sizing: border-box;
}

.intro h2 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.intro p {
  padding-top: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

.buttons {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  border-radius: 2px;
}

.sectionTwo {
  height: max-content;
  background-color: white;
}

.sectionThree {
  background-image: url('/brownBackground.svg');
}

.storyImg {
  border-radius: 5px;
}

.whoWeAreContainer {
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.whoWeAreContainer h2 {
  color: black;
  margin: 15px;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
}

.peoplePicsContainer {
  display: flex;
  gap: 60px;
}

.personWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
}

.personWrapper p {
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

.personWrapper h3 {
  margin: 5px auto;
}

@media (max-width: 1024px) {
  .heroSection {
    background-position: 70% 15%;
  }

  .intro {
    width: 65%;
  }
}

@media (max-width: 800px) {
  .heroSection {
    height: 600px;
    background-position: 70% 15%;
  }

  .intro {
    top: 10%;
    width: 70%;
  }

  .intro h2 {
    font-size: 28px;
  }

  .intro p {
    font-size: 23px;
  }

  .storyImg {
    padding-top: 20px;
    order: 2;
  }

  .sectionThree {
    height: max-content;
    background-image: none;
  }

  .peoplePicsContainer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .whoWeAreContainer {
    background-image: url('/brownBackground.svg');
  }
}

@media (max-width: 425px) {
  .heroSection {
    background-position: 78% 20%;
    height: 550px;
  }

  .intro {
    position: initial;
    width: 95%;
    margin-top: 45px;
    padding: 20px;
  }

  .intro h2 {
    font-size: 25px;
  }

  .intro p {
    font-size: 20px;
  }

  .buttons {
    margin-top: 30px;
  }

  .sectionTwo {
    height: max-content;
  }

  .sectionThree {
    height: max-content;
  }

  .peoplePicsContainer {
    flex-direction: column;
  }
}
