:root {
  --primaryBlue: rgb(8, 13, 26);
}

.homeContainer {
  /* width: 100%; */
  /* height: 100vh; */
}

.section {
  background-image: url('/HeroImageHome.png');
  background-size: auto;
  background-repeat: no-repeat;
  height: 863px;
  position: relative;
}

/* .sectionOne {
  flex-shrink: 0;
} */

.sectionOne h1 {
  font-size: 60px;
  font-family: copperplate;
  text-align: center;
  margin: 170px auto auto auto;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding: 50px;
  width: 60%;
}

.sectionOne h3 {
  text-align: center;
  margin-top: 60px;
  font-size: 30px;
}

.intro {
  height: 400px;
  width: 600px;
  position: absolute;
  top: 240px;
  left: 200px;
}

.intro h2 {
  font-size: 38px;
}

.buttons {
  display: flex;
  gap: 50px;
  margin-top: 100px;
  /* margin-left: 50px; */
  border-radius: 2px;
}

.learnMore:hover {
  box-shadow: rgba(240, 230, 230, 0.903) 0px 20px 70px;
}

.topContainer {
  height: 573px;
  width: 900px;
  margin: 100px auto;
  display: flex;
  gap: 25px;
}

.topLeft {
  width: 48%;
  /* height: 100%; */
  background-image: url('/Rectangle22.png');
  border-radius: 5px;
}

.topRight {
  color: black;
  width: 50%;
  height: 100%;
}

.topRight p {
  font-size: 16px;
}

.ourMissionContainer {
  height: 1450px;
  background-color: white;
}

.ourFocusContainer {
  width: 90%;
  height: max-content;
  margin: 80px auto;
}

.ourFocusContainer h3 {
  text-align: center;
  color: black;
}

.focusCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: auto;
  width: 820px;
}

.supportUsContainer {
  /* height: 1000px; */
  background-color: #b8ac92;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.supportContentContainer {
  display: flex;
  gap: 10px;
  height: 700px;
  margin-top: 100px;
}

.supportLeft {
  /* border: 1px solid black; */
  width: 400px;
  /* height: 700px; */
}

.supportLeft p {
  color: black;
  font-size: 17px;
}

.supportLeft h3 {
  color: black;
  text-align: left;
}

.supportRight {
  background-image: url('/Rectangle75.png');
  /* border: 1px solid black; */
  width: 400px;
  height: 570px;
  border-radius: 10px;
  margin-top: 20px;
}

.newsLetterContainer {
  display: flex;
  flex-direction: column;
  width: 700px;
  color: black;
}

.newsLetterContainer h3 {
  margin-top: 100px;
  text-align: center;
  color: black;
}

.newsLetterContainer input {
  width: 250px;
  height: 30px;
  margin: 10px auto;
  border-radius: 3px;
  border: 1px solid black;
}

.newsLetterContainer button {
  width: 150px;
  margin: 20px auto;
  background-color: #ce392c;
}

.donateButton {
  background: rgb(206, 57, 44);
  margin-bottom: 180px;
  margin-top: 40px;
  align-self: center;
  color: white;
}

@media (max-width: 500px) {
  .homeContainer h1 {
    margin: auto;
    font-size: 20px;
  }
}
