@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@300;400&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
:root {
  --primaryBlue: rgb(8, 13, 26);
}

.heroImg {
  background-image: url('/HeroImageHome.png');
  background-size: auto;
  background-repeat: no-repeat;
  height: 700px;
  position: relative;
}

.intro {
  height: 400px;
  width: 600px;
  line-height: 1.8;
  position: absolute;
  top: 20%;
  left: 10%;
}

.intro h2 {
  font-size: 42px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.intro p {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  width: 90%;
  line-height: 1.8;
  border-radius: 15px;
  font-size: 25px;
}

.buttons {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  border-radius: 2px;
}

.learnMore:hover {
  box-shadow: rgba(240, 230, 230, 0.903) 0px 20px 70px;
}

.topContainer {
  height: 573px;
  width: 900px;
  margin: 100px auto;
  display: flex;
  gap: 25px;
}

.missionImg {
  order: 1;
}

.ourMissionContainer {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  background-color: white;
}

.supportUsContainer {
  background-image: url('/brownBackground.svg');
  position: relative;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsLetterContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: black;
  text-align: center;
}

.newsLetterContainer h3 {
  text-align: center;
  color: black;
  margin: 0;
}

.newsLetterContainer p {
  padding: 0 20px;
}

.newsLetterContainer input {
  width: 250px;
  height: 30px;
  margin: 10px auto;
  border-radius: 3px;
  border: 1px solid black;
  text-align: center;
}

.newsLetterContainer button {
  width: 150px;
  margin: 20px auto 80px auto;
  background-color: #ce392c;
  color: white;
}

@media (max-width: 1024px) {
}

@media (max-width: 800px) {
  .heroImg {
    background-position: 45% 30%;
  }

  .intro {
    top: 15%;
    left: 17%;
    width: 80%;
  }
}

@media (max-width: 425px) {
  .homeContainer h1 {
    margin: auto;
    font-size: 20px;
  }

  .heroImg {
    background-position: 65% 30%;
    height: 675px;
  }

  .intro {
    width: 100%;
    position: initial;
    height: max-content;
    /* top: 0; */
    /* left: 0; */
    text-align: center;
    margin: auto;
  }

  .intro h2 {
    font-size: 38px;
  }

  .intro p {
    font-size: 25px;
    padding: 20px 10px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: auto;
    padding-top: 2%;
    justify-content: center;
  }

  .buttons button {
    width: 200px;
    height: 60px;
    margin: auto;
  }

  .newsLetterContainer {
    width: 100%;
  }
}
