@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hamburger {
  display: none;
}

.logo {
  font-size: 30px;
  font-family: 'Source Serif 4', serif;
  border-top: 2px solid rgb(237, 128, 66);
  border-bottom: 2px solid rgb(237, 128, 66);
  margin-right: auto;
}

.navList {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  width: 100%;
}

.navContainer {
  display: flex;
  width: 100%;
  max-width: 1440px;
  height: 70px;
  padding: 30px 40px;
  box-sizing: border-box;
  color: rgb(241, 236, 236);
  background-color: #2c2523d4;
  z-index: 1;
}

.navLink {
  color: white;
  font-size: 20px;
}
.navLink:hover {
  color: rgb(237, 128, 66);
}

.pushRight {
  margin-left: 20%;
}

.navButton {
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px;
  width: 140px;
  text-align: center;
  color: black;
}

.contact {
  background-color: bisque;
}

.donate {
  background-color: rgb(185, 231, 185);
}

.black {
  font-weight: 650;
  color: black;
}

.navButton:hover {
  margin-bottom: 20px;
  box-shadow: rgba(240, 230, 230, 0.903) 0px 20px 70px;
}

.hideNav {
  display: flex;
  gap: 30px;
}

@media (max-width: 400px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    cursor: pointer;
    z-index: 1;
  }

  .navContainer {
    position: relative;
    margin: auto;
    height: max-content;
    width: 100vw;
  }

  .navList {
    flex-direction: column;
  }

  .showNav {
    display: block;
    display: flex;
    flex-direction: column;
  }

  .hideNav {
    display: none;
  }

  .logo {
    font-size: 22px;
    margin: auto;
  }

  .navList {
    flex-wrap: nowrap;
    gap: 10px;
  }

  .navLink {
    font-size: 15px;
  }

  .navButton {
    font-size: 16px;
    width: 100px;
    padding: 5px;
  }

  .pushRight {
    margin: 0;
  }
}
