ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  font-size: 30px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-right: auto;
}

.navList {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.navContainer {
  width: 100%;
  height: 100px;
  padding: 30px 40px;
  box-sizing: border-box;
  position: fixed;
  color: black;
  background-color: rgba(211, 211, 211, 0.434);
  z-index: 1;
}

.navLink {
  color: black;
  font-size: 20px;
}

.pushRight {
  margin-left: 20%;
}

.navButton {
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px;
  width: 140px;
  text-align: center;
  color: black;
}

.contact {
  background-color: bisque;
}

.donate {
  background-color: rgb(185, 231, 185);
}

.black {
  font-weight: 650;
  color: black;
}

.navButton:hover {
  margin-bottom: 20px;
  box-shadow: rgba(240, 230, 230, 0.903) 0px 20px 70px;
}

/* Drop Downs */
.dropDown {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: bisque;
  margin-top: 5px;
  padding: 5px 10px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.dropDown a {
  color: rgb(8, 13, 26);
}

.dropDown li :nth-child(1) {
  font-weight: 700;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 500px) {
  .navContainer {
    margin: auto;
    height: max-content;
  }

  .navList {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .navLink {
    font-size: 15px;
  }

  .navButton {
    font-size: 16px;
    width: 100px;
    padding: 5px;
  }

  .pushRight {
    margin: 0;
  }
}
