.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: max-content;
  padding: 5% 15%;
}

.form h3 {
  margin: 0;
}

.form p {
  text-align: center;
}

.form button {
  background-color: rgb(237, 128, 66);
  filter: drop-shadow(2px 2px 1px rgb(59, 57, 57));
}

.form input {
  height: 30px;
  width: 220px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 1px rgb(59, 57, 57));
}

@media (max-width: 425px) {
  .form {
    padding: 5%;
  }
}
