.heroImg {
  background-image: url('/grantsHero.jpg');
  height: 675px;
}

.iconWrapper {
  padding-bottom: 40px;
  
}

.cards {
display: flex;
flex-wrap: wrap;
height: max-content;
}


@media (max-width: 1024px) {
}

@media (max-width: 800px) {
}

@media (max-width: 425px) {
}
