.heroImg {
  background-image: url('/grantsHero.jpg');
  background-position: 50% 50%;
  height: 700px;
}

.heroImg p {
  font-size: 78px;
}

.heroImg q { 
  background: rgba(54, 52, 52, 0.873);
}

.iconWrapper {
  padding-bottom: 40px;
  
}

.cards {
display: flex;
flex-wrap: wrap;
height: max-content;
}


@media (max-width: 1024px) {
}

@media (max-width: 800px) {
  .heroImg {
    background-position: 20% 30%;
  }

  .heroImg p {
    font-size: 60px;
  }
}

@media (max-width: 425px) {
}
