.heroImg {
  background-image: url('/grantsBlacks.jpeg');
  background-position: center center;
  box-shadow: inset 0px 42px 115px 42px rgba(0, 0, 0, 1);
  height: 700px;
  min-width: 100%;
  position: relative;
}

.intro {
  width: 55%;
  line-height: 1.4;
  text-align: left;
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: rgba(53, 50, 50, 0.841);
  padding: 40px;
  border-radius: 10px;
  box-sizing: border-box;
}

.intro h2 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.intro p {
  padding-top: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

.buttons {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  border-radius: 2px;
}

.form {
  color: black;
}

.iconWrapper {
  padding-bottom: 40px;
  width: 100%;
  background-image: url('/brownBackground.svg');
}

.cards {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
}

@media (max-width: 1220px) {
}

@media (max-width: 1024px) {
  .intro {
    width: 65%;
  }
}

@media (max-width: 800px) {
  .heroImg {
    background-position: 45% 30%;
    height: 570px;
  }

  .intro {
    top: 10%;
    width: 70%;
  }

  .intro h2 {
    font-size: 28px;
  }

  .intro p {
    font-size: 23px;
  }
}

@media (max-width: 425px) {
  .heroImg {
    background-position: 57% 40%;
    height: 475px;
  }

  .intro {
    position: initial;
    width: 95%;
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(53, 50, 50, 0.71);
  }

  .iconWrapper {
    background-color: #dfd8c8;
  }

  .intro h2 {
    font-size: 24px;
  }

  .intro p {
    font-size: 22px;
  }

  .form {
    padding: 20px;
  }

  .form p {
    width: 100%;
    font-size: 16px;
  }

  h3 {
    margin: 0;
  }

  .buttons {
    margin-top: 10px;
    justify-content: center;
  }
}
