.footerContainer {
  height: max-content;
  background: #2c231f;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 40px 0;
}

a {
  text-decoration: none;
  color: black;
}

.navLink {
  color: white;
  font-size: 18px;
  width: 215px;
  font-size: 15px;
  border-bottom: none;
  padding: 10px 0;
}

.navLink:hover {
  color: rgb(237, 128, 66);
}

.one {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.one p {
  text-align: center;
}

.logo {
  border-top: 2px solid rgb(237, 128, 66);
  border-bottom: 2px solid rgb(237, 128, 66);
  width: 240px;
  padding: 10px;
  text-align: center;
}

.two {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-content: center;
  justify-content: center;
}

.three {
  width: 20%;
  display: flex;
}

.donateButton {
  background: rgb(206, 57, 44);
  align-self: center;
}

.footerBottom {
  background-color: #2c231f;
  text-align: center;
  padding-bottom: 10px;
  font-size: 14px;
  font-style: italic;
}

@media (max-width: 1024px) {
  .navLink {
    padding: 5px auto;
  }
}

@media (max-width: 800px) {
}

@media (max-width: 425px) {
  .footerContainer {
    height: max-content;
    flex-direction: column;
    text-align: center;
  }

  .logo {
    margin: auto;
  }

  .one {
    padding-top: 40px;
    width: 100%;
  }

  .two {
    width: 100%;
  }

  .two li {
    width: 180px;
  }

  .three {
    width: 100%;
    justify-content: center;
  }

  .donateButton {
    margin: 20px auto;
  }
}
