.footerContainer {
  height: 350px;
  background: #2c231f;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.one {
   width: 30%;
   /* border: 1px solid white; */
}

.one p {
   text-align: center;
}

.logo {
   border-top: 2px solid white;
   border-bottom: 2px solid white;
   width: 240px;
   padding: 10px;
   text-align: center;
   margin: 70px auto;
}


.two {
   width: 50%;
   /* border: 1px solid white; */

   display: flex;
   flex-wrap: wrap;
   list-style: none;
   justify-content: center;
   align-content: space-evenly;
}

.two li {
   width: 220px;

}


.three {
   width: 20%;
   display: flex;
   /* border: 1px solid white; */
}

.donateButton {
   background: rgb(206, 57, 44);
   margin-bottom: 180px;
   align-self: center;
 }