@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@300;400&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');

.active {
  border-bottom: 2px solid orange;
}

#root {
  --primaryBlue: rgb(8, 13, 26);
}

.hero {
  background-size: auto;
  background-repeat: no-repeat;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.hero p {
  font-size: 2.325rem;
  font-weight: 500;
  padding: 100px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  width: 70%;
  line-height: 1.9;
  border-radius: 15px;
}

.donateButton {
  background: rgb(206, 57, 44);
}

.contentContainer {
  height: 573px;
  width: 70%;
  margin: 20px  auto;
  /* padding: 20px auto; */
  display: flex;
  gap: 25px;
}

.contentContainer h3 {
  font-size: 1.55rem;
  font-family: 'Roboto', sans-serif;
  margin: 5px auto;
}

.contentText {
  color: black;
  width: 50%;
  height: 100%;
  font-size: 16px;
  padding: 10px auto;
}

.contentImg {
  width: 48%;
  border-radius: 5px;
  background-repeat: no-repeat;
}

.iconContainer {
  width: 90%;
  height: max-content;
  margin: 40px auto;
  padding-top: 30px;
  color: black;
  text-align: center;
}

.iconCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: auto;
  width: 820px;
}

.iconContainer h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

@media (max-width: 500px) {
  .hero {
    height: 500px;
  }

  .hero p {
    font-size: 26px;
    padding: 50px 0;
    width: 95%;
  }

  .contentContainer {
    height: max-content;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }

  .contentImg {
    width: 95%;
    margin: auto;
    height: 473px;
    background-repeat: no-repeat;
  }

  .contentText {
    width: 95%;
    text-align: center;
    margin: auto;
  }

  .iconContainer {
    margin: 0 auto;
    padding: 0;
  }

  .iconCards {
    width: auto;
    gap: 0;
  }
}
