@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@300;400&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.active {
  border-bottom: 2px solid orange;
}

#root {
  --primaryBlue: rgb(8, 13, 26);
}

.hero {
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.donateButton {
  margin-top: 15px;
  background: rgb(206, 57, 44);
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.contentContainer {
  height: max-content;
  width: 95%;
  margin: 20px auto;
  display: flex;
  gap: 25px;
  box-sizing: border-box;
  align-items: center;
}

.contentContainer h3 {
  font-size: 1.55rem;
  font-family: 'Roboto', sans-serif;
  margin: 20px 0 10px auto;
  border-bottom: 1px solid rgb(237, 128, 66);
}

.contentText {
  color: black;
  width: 60%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px auto;
}

.imgWrapper {
  width: 40%;
}

.contentImg {
  width: 100%;
  min-height: 350px;
  border-radius: 5px;
  background-repeat: no-repeat;
}

.iconContainer {
  width: 90%;
  height: max-content;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  color: black;
  text-align: center;
  box-sizing: border-box;
}

.iconContainer h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding-top: 20px;
}

.iconCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 50px;
}

.cardContainer {
  width: 290px;
  height: 300px;
  color: black;
  text-align: center;
  font-size: 15px;
}

.grantCards {
  width: 300px;
  color: black;
  text-align: center;
  font-size: 15px;
  margin: 20px auto;
  gap: 40px;
}

@media (max-width: 1024px) {
  .contentText {
    line-height: 1.5;
  }
}

@media (max-width: 800px) {
  .contentContainer {
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding: 0 10px;
  }

  .contentText {
    width: 90%;
  }

  .iconContainer {
    width: 100%;
  }

  .iconCards {
    width: 100%;
  }
}

@media (max-width: 425px) {
  /* .hero {
    height: 500px;
  } */

  .contentContainer {
    height: max-content;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }

  .imgWrapper {
    width: max-content;
  }

  .contentImg {
    min-width: 90%;
    max-width: 350px;
    margin: auto;
    height: 473px;
    background-repeat: no-repeat;
  }

  .contentText {
    width: 95%;
    /* text-align: center; */
    margin: auto;
  }

  .iconContainer {
    margin: 0 auto;
    padding: 0;
  }

  .iconCards {
    width: auto;
    gap: 0;
  }
}
